<!doctype html>
<html lang="ru">

	{% include 'components/head.html.twig' %}

	<body>
		{% include 'components/navbar.html.twig' %}


		<div class="container text-center">
            <div class="py-5">
				<img src="static/img/ok.png" class="img-fluid" alt="Ok!" width="150px">
			    <h1>Заявка успешно отправлена!</h1>
            </div>
		</div>


		{% include 'components/footer.html.twig' %}

	</body>
</html>

