<p>
<h6><b>Про доставку.</b></h6>
Рекомендована доставка на дом, так как можно проверить работоспособность готового дубликата
на работоспособность перед оплатой и если дубликат не будет работать отказаться от получения
и ни за что не платить даже за доставку.
Расчет доставки производится автоматически по тарифам компании СДЭК. Важно, адрес должен
быть реальным, только в этом случае расчет стоимости буде произведен, и заказ будет принят в
обработку.
Срок доставки 3-5 дней, но мы стараемся сократить время до нескольких минут.
</p>

<p>
<h6><b>Про безопасность.</b></h6>
Если есть желание не выдавать адрес, для которого изготавливается дубликат, можете указать
адрес поблизости от места применения и выйти навстречу курьеру. Курьеры будут от компании
СДЭК, которые к нашей компании отношения не имеют.
</p>

<p>
<h6><b>Про стоимость доставки.</b></h6>
На данный момент сервис работает в режиме тестирования, и дубликаты мы делаем совершенно
бесплатно, вы платите только за доставку по тарифам транспортной компании СДЭК.
</p>
