Мы настоятельно рекомендуем использовать браузер <br>
<img src="static/img/Google-Chrome.png">
<b><a href="https://play.google.com/store/apps/details?id=com.android.chrome&hl=ru">Google Chrome</a></b> 
для заполнения формы на сайте.