<p>
В целях безопасности, рекомендуем заполнять реальный адрес поблизости от места, где можно
проверить готовый дубликат, для невозможности сбора статистики и изготовления ключей по
адресу. Доставка производится курьерами транспортной компании СДЭК, которые к нашей
компании не имеют отношения.
</p>
