<p>
<h6><b>Про сервис.</b></h6>
Данный сервис позволяет оперативно заказать дубликаты ключей, карт, брелков для домофонов,
турникетов, электронных пропускных систем.
</p>

<p>
<h6><b>Про фото.</b></h6>
За счет правильно сделанных фотографий, гарантируется работоспособность дубликатов. По ним
определяется технология обмена данными и код идентификатора.
Необходима читабельность всех цифр и букв на вашем ключе, карте, брелке или браслете.
Логотипы на ключе и устройстве, к которому подносите ключ, тоже имеют существенное
значение, постарайтесь, чтоб они тоже были читабельны.
</p>

<p>
<h6><b>Про UID и NFC.</b></h6>
Это дополнительный, а иногда и единственный способ получения буквенно-цифрового
идентификатора вашего ключа, позволяющего изготовить дубликат. Если на фото четко видны все
буквы и цифры, данный пункт можно пропустить.
</p>

<p>
<h6><b>Про доставку.</b></h6>
Рекомендована доставка на дом, так как можно проверить работоспособность готового дубликата
на работоспособность перед оплатой и если дубликат не будет работать отказаться от получения
и ни за что не платить даже за доставку.
Расчет доставки производится автоматически по тарифам компании СДЭК. Важно, адрес должен
быть реальным, только в этом случае расчет стоимости буде произведен, и заказ будет принят в
обработку.
Срок доставки 3-5 дней, но мы стараемся сократить время до нескольких минут.
</p>

<p>
<h6><b>Про безопасность.</b></h6>
Если есть желание не выдавать адрес, для которого изготавливается дубликат, можете указать
адрес поблизости от места применения и выйти навстречу курьеру. Курьеры будут от компании
СДЭК, которые к нашей компании отношения не имеют.
</p>

<p>
<h6><b>Про стоимость.</b></h6>
На данный момент сервис работает в режиме тестирования, и дубликаты мы делаем совершенно
бесплатно, вы платите только за доставку по тарифам транспортной компании СДЭК.
</p>

<p>
<h6><b>Про ваши риски.</b></h6>
Вы ни чем не рискуете, все риски мы берем на себя, если наш дубликат не работает, вы ни чего не
платите и отказываетесь от получения, даже если вы просто передумали или вам не понравилась
форма или цвет изделия.
</p>

<p>
<h6><b>Остались ещё вопросы.</b></h6>
Вы можете задать вопросы по СМС, Viber или WhatsApp на номер +7(902)104-90-14
</p>