<p>
Если при начале набора адреса у вас не появляются варианты для выбора, значит, у вас пропало
соединение с интернетом.
Если вы не увидите правильного варианта для выбора, выберите вариант поблизости от вас.
Только при правильном заполнении адреса, с точностью «до дома» вы увидите стоимость
доставки, и мы сможем принять вашу заявку.
</p>

