<div class="text-center">
    <p>Так как наш сервис работает в тестовом режиме, то дубликаты ключей изготавливаются бесплатно.</p>
    <p>Ограничение - <b>2 шт. на один адрес.</b></p>
    <p>Вам необходимо оплатить только доставку до вашей двери.</p>
    <p>В случае, если ключ не будет работать, то от посылки можно отказаться. При этом оплачивать доставку не нужно.</p>
</div>
