<p>
Чтобы узнать UID ключа, вам нужно скачать приложение <b>Scanner Keyboard</b> в <a href="https://play.google.com/store/apps/details?id=com.tecit.android.barcodekbd.demo&hl=ru" target="_blank">Play Market</a>.
Приложение представляет собой специальную клавиатуру.
</p>

<p>1. После установки приложения, перейдите в поле ввода UID на нашем сайте.</p>

<p>2. Нажмите кнопку активации сканера над клавиатурой: <br>
<img src="static/img/uid_help1.jpg" class="img-fluid">
</p>

<p>3. В выпадающем меню выберите пункт <b>"Read NFC tag"</b> (Считать NFC-тег).<br>
<img src="static/img/uid_help2.jpg" class="img-fluid">
</p>

<p>4. Поднесите ваш ключ к задней стороне смартфона. Обратите внимание, что сканер срабатыает не мгновенно. Если ничего не происходит, то попробуйте подождать 10 секунд и поднести ключ к другой части телефона. 
<br>
Не все метки и ключи могут быть прочитаны с помощью NFC. Поэтому, если у вас не получилось, то не заполняйте поле UID на сайте.
</p>

<p>5. После успешного сканирования нажмите кнопку <b>"ОК"</b>. UID ключа автоматически подставится в поле на сайте:<br> 
<img src="static/img/uid_help3.jpg" class="img-fluid">
</p>

<p>Если у вас не получилось сканирование UID ключа, то оставьте поле пустым. Имейте в виду, что отсутствие UID уменьшенает вероятность успешной работы ключа.</p>


